@import url('https://fonts.googleapis.com/css?family=Dhurjati');
/* STYLES */
h1 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 6em;
  text-align: center;
  background-color: blue;
  color: white;
  text-shadow: 5px 5px black;
  margin-bottom: 50px;
}
body {
  background-color: white;
}
/* NAV CSS */
.center {
  font-family: 'Dhurjati', sans-serif;
  font-size: 2em;
  margin: auto;
  text-align: center;
  background-color: darkblue;
}
.nav-bar a{
  color: white;
}

/* CONTAINER CSS */
.container {
  margin-left: 285px;
  width: 850px;
}

/* TRANSITION CSS */
.text0 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 35px;
  transition: ease-in-out 1s ;
}
.text1 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 35px;
  transition: ease-in-out 1s;
  opacity: 0;
  text-align: right;
  color: red;
}

.text0, .text1 {
  transition: 1s;
}

.container:hover .text0 {
  opacity: 0;
}
.container:hover .text1 {
  opacity: 1;
  text-align: right;
  color: red;
}

/* TRANFORM CSS */










/* SPRITE CSS */
