@import url('https://fonts.googleapis.com/css?family=Dhurjati');
/* STYLES */
h1 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 7em;
  text-align: center;
  background-color: purple;
  color: white;
  text-shadow: 5px 5px black;
  margin-bottom: 50px;
}
body {
  background-color: grey;
}
/* NAV CSS */
.center {
  font-family: 'Dhurjati', sans-serif;
  font-size: 2em;
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: black;
}
.nav-bar a{
  color: white;
}

/* CONTAINER CSS */
.container {
  margin-left: 285px;
  display: inline-block;
  padding-top: 20px;
  height: 100px;
  width: 100px;
  position: absolute;
  font-size: 40px;
  color: black;
}

/* TRANSITION CSS */
.text0 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 40px;
  width: 100px;
  height: 100px;
  transition: width 2s;
  transition-duration: 3s;
}
.text1 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 40px;
  width: 100px;
  height: 100px;
  transition: width 2s;
  transition-duration: 3s;
  opacity: 0;
}

.text0, .text1 {
  transition: opacity 0.5s linear}
}

.container:hover .text0 {
  opacity: 0;
}
.container:hover .text1 {
  opacity: 1;
  background-color: yellow;
  width: 500px;
  height: 500px;
  line-height: 90px;
}


/* TRANFORM CSS */










/* SPRITE CSS */
