@import url('https://fonts.googleapis.com/css?family=Dhurjati');
/* STYLES */
h1 {
  font-family: 'Dhurjati', sans-serif;
  font-size: 7em;
  text-align: center;
  background-color: purple;
  color: white;
  text-shadow: 5px 5px black;
  margin-bottom: 50px;
}
body {
  background-color: grey;
}
/* NAV CSS */
.center {
  font-family: 'Dhurjati', sans-serif;
  font-size: 2em;
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: black;
}
.nav-bar a{
  color: white;
}

/* CONTAINER CSS */
.container {
  margin-left: 285px;
  display: inline-block;
  padding-top: 20px;
}

/* TRANSITION CSS */
.rectangle1 {
  background-color:lightgreen;
  width: 50px;
  height: 50px;
  transition: width 2s;
  transition-duration: 3s;
  display: inline-block;
  transition-timing-function: linear;
  border-radius: 20px;
}

.rectangle1:hover {
  width: 500px;
  height: 70px;
}
.rectangle2 {
  background-color:green;
  width: 60px;
  height: 60px;
  transition: width 2s;
  transition-duration: 3s;
  display: inline-block;
  transition-timing-function: linear;
  border-radius: 20px;
}

.rectangle2:hover {
  width: 750px;
  height: 90px;
}
.rectangle3 {
  background-color:darkgreen;
  width: 70px;
  height: 70px;
  transition: width 2s;
  transition-duration: 3s;
  display: inline-block;
  transition-timing-function: linear;
  border-radius: 20px;
}

.rectangle3:hover {
  width: 1000px;
}
.rectangle4 {
  background-color:green;
  width: 60px;
  height: 60px;
  transition: width 2s;
  transition-duration: 3s;
  display: inline-block;
  transition-timing-function: linear;
  border-radius: 20px;
}

.rectangle4:hover {
  width: 750px;
  height: 80px;
}
.rectangle5 {
  background-color:lightgreen;
  width: 50px;
  height: 50px;
  transition: width 2s;
  transition-duration: 3s;
  display: inline-block;
  transition-timing-function: linear;
  border-radius: 20px;
}

.rectangle5:hover {
  width: 500px;
  height: 70px;
}

/* TRANFORM CSS */

.circle0 {
  background: red;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  transition: transform 1s;
}

.circle0:hover {
  transform: scale(2);
}
.circle1 {
  background: lightblue;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  transition: transform 3s;
}

.circle1:hover {
  transform: scale(3);
}
.circle2 {
  background: green;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  transition: transform 2s;
}

.circle2:hover {
  transform: scale(4);
}

.circle3 {
  background: darkblue;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  transition: transform 2s;
}

.circle3:hover {
  transform: scale(3);
}

.circle4 {
  background: pink;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  transition: transform 2s;
}

.circle4:hover {
  transform: scale(5);
}

.circle5 {
  background: darkorange;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  transition: transform 2s;
}

.circle5:hover {
  transform: scale(2);
}








/* SPRITE CSS */
